<!doctype html>
<html lang="en">
  <head>

    <meta charset="utf-8">
    <meta name="viewport" width="device-width, initial-scale=1.0">
    <meta name="description" content="Shopping for Yinan Zuo">
    <meta name="author" content="Yinan Zuo">


    <title>Shopping Yinan Zuo</title>
    <!-- styles -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../css/jumbotron-narrow.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">

    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body ng-app="ShoppingListCheckOff">
  <div class="container">




    <div class="header">
<ul class="nav nav-pills pull-right">
  <li class="passive"><a href="cv" title="CV">CV</a></li>
  <!-- <li class="passive"><a href="/projects" title="Projects">Projects</a></li> -->
  <!-- <li class="passive"><a href="/notes" title="Notes">Notes</a></li> -->
  <li class="passive"><a href="contact" title="Contact">Contact</a></li>
   <li class="active"><a href="index" title="Shopping">Shopping</a></li>
</ul>
<h3 class="text-muted"><a href="../">Yinan Zuo</a></h3>
</div> <!-- /header -->




  <h1>Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller="ToBuyShoppingController as toBuyList">
     <h2>To Buy:</h2>
     <ul>
       <li ng-repeat="item in toBuyList.itemsToBuy">Buy {{item.quantity}} {{item.name}}
         <button class="btn btn-default" ng-click="toBuyList.boughtItem($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button></li>
     </ul>
     <div class="emptyMessage" ng-if="toBuyList.itemsToBuy.length == 0">Everything is bought!</div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtShoppingController as boughtList">
     <h2>Already Bought:</h2>
        <ul>
         <li ng-repeat="item in boughtList.itemsBought">Bought {{item.quantity}} {{item.name}}</li>
       </ul>
     <div class="emptyMessage" ng-if="boughtList.itemsBought.length == 0">Nothing bought yet.</div>
    </div>
  </div>
</div>


<script src="http://code.jquery.com/jquery.js"></script>
<script src="../js/bootstrap.min.js"></script>
<script src="../js/library.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js"></script>

</body>
</html>
